<div class="weathercard">
  <div>
    <p>
    Sunrise 12.00
    Moonrise 13.00
  </p>
  </div>
  <div class="row">
    <div class="col temp-header">
      <p>Temperature, °C</p>
      <p>Pressure, mb</p>
      <p>Wind, kph</p>
      <p>Wind direction</p>
      <p>Chance of rain</p>
      <div>
        <p>Condition text</p>
        <img src="http://cdn.weatherapi.com/weather/64x64/day/119.png">
      </div>
    </div>
    <div class="col value">
      <p>hello</p>
      <p>bitch</p>
    </div>
  </div>

</div>
