.day-selector-container {
  display: flex;
}
.day {
  margin: 0.2rem 0.2rem 0rem 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 1rem;
  background-color: var(--dark);
}
.selected {
  background-color: var(--light);
}

.day-button {
  border: none;
  background-color: transparent;
  color: var(--text);
}
