/* You can add global styles to this file, and also import other style files */
:root {
  --back: #F3EFE0;
  --light: #434242;
  --dark: #222222;
  --selected: #22A39F;
  --text: #d3d3d3
}
body {
  background-color: var(--back);
}
